{# Shared editor modal for Insight (trend/security/report/technical) #}
{% with
  modal_prefix='insight',
  modal_title_text='기술자료 추가',
  modal_subtitle_text='작성한 기술자료는 목록에 표시됩니다.',
  modal_title_placeholder='기술자료 제목',
  modal_editor_aria_label='내용',
  modal_editor_placeholder='내용을 입력하세요',
  modal_include_author_hidden=true,
  modal_author_value='',
  modal_title_required=false,
  modal_allow_table=false,
  modal_submit_type='submit',
  modal_submit_text='등록',
  modal_form_autocomplete_off=true
%}
	{% include '5.insight/_shared/_content_editor_modal.html' %}
{% endwith %}
